.galleryItem{
    display: flex;
    position: relative;
}

.galleryItem img{
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.overlay, 
.saveButton,
.overlayIcons{
    display: none;
}

.galleryItem:hover .overlay{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.galleryItem:hover .saveButton{
    display: block;
    background-color: #e50829;
    color: white;
    border-radius: 24px;
    padding: 12px 16px;
    font-weight: 500;
    cursor: pointer;
    width: max-content;
    top: 16px;
    right: 16px;
    position: absolute;
    border: none;
}

.galleryItem:hover .overlayIcons{
    display: block;
    bottom: 16px;
    right: 16px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
}

.overlayIcons button{
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.overlayIcons button img{
    width: 20px;
    height: 20px;
}

.overlayIcons button:hover{
    background-color: #f1f1f1;
}